*{
  font-family: 'Indie Flower', cursive;
}
body {
  background-image: url(https://i.imgur.com/DeGe4OK.png);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-color: #F7F7F7;
  height: 100vh;
  text-align: center;
  margin: auto;
}
th{

  font-size: 20px;
}
table{
  margin: auto;
  border-spacing: 10px;
}
nav{
  background-image: url(https://i.imgur.com/7Am6iw3.jpg);
  padding: 10px;
  text-align: center;
  
}
button{
  border-radius: 5px;
}

