
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <title>Users</title>
</head>
<body>
  <h1>users</h1>
  
        <% if (user) { %>
            <%- include('../partials/nav') %>
            <a href="/logout">Log Out</a>
        <% } else { %>
            <a href="/auth/google">Login with Google</a>
        <% } %>
        </nav>
    

  <div>
      <!-- only allows post if user is in db-->
    <% if (user) { %> 
        <!-- if loggedin user matches the user it's on -->
        <% if (user._id.equals(user && user._id)) { %> 
            <div>
                <p>user logged in</p>
            </div>
        <% }} %>
  </div>
  
</body>
</html>


